<%- include('./partials/header') %>
<%- include('./partials/nav') %>

<div class="text-center">
    <p>It seems you have lost.</p>
    <a href="/" class="btn btn-primary">Home</a>
</div>

<%- include('./partials/footer') %>
